*{font:13px 'trebuchet MS', 'lucida sans';}
ol{
	counter-reset: li;
	list-style: none;
}
li{
	display:list-item;
}
.btn-continer{
	position: absolute;
	width: 200px;
	left: 200px;
}
.btn-continer a{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	margin:.8em 0;
	background-color: #ddd;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
}
.btn-continer a::before{
	content:counter(li);
	counter-increment: li;
	position: absolute;
	margin-top: -1.3em;
	top:50%;
	left:-1.3em;
	border:.3em solid #fff;
	border-radius: 2em;
	background-color: #87ceeb;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	font-weight: bold;
	transition: all .3s ease-out;
}
.btn-continer a:hover{
	background: #eee;
}
.btn-continer a:hover::before{
	transform: rotate(360deg);
}
.cont-continer{
	position: absolute;
	width: 40%;
	left: 500px;
}
.cont{
	border:1px solid #ddd;
	background-color: #eee;
	margin: .8em 0;
	border-radius:  .4em;
	padding: .4em .4em .4em .4em;
	word-break: break-all;
}
img{
	width:100%;
}
table{
	padding:2px;
	border-collapse: collapse;
	border-right:1px solid #111;
	border-bottom:1px solid #111;
	text-align: center;
}
th,td{
	width:75px;
	border-left:1px solid #111;
	border-top:1px solid #111;
}
.span-btn{
	display: block;
	background-color: #87ceeb;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}
